/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

/* HTML要素のボックスモデルやフォントサイズをリセット */
html {
  box-sizing: border-box;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;

  -webkit-text-size-adjust: 100%; /* iOSの縦向き変更後のフォントサイズ調整を防止 */
}

/* 全要素と疑似要素のボックスモデルと背景画像のリピートをリセット */
*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

/* 疑似要素に継承を設定 */
::before,
::after {
  vertical-align: inherit;
  text-decoration: inherit;
}

/* すべての要素のマージンとパディングをリセット */
* {
  margin: 0;
  padding: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */

/* 水平線要素のスタイルを設定 */
hr {
  overflow: visible;
  height: 0;
}

/* 詳細要素とメイン要素のスタイルを設定 */
details,
main {
  display: block;
}

/* サマリー要素のスタイルを設定 */
summary {
  display: list-item;
}

/* 小さなテキストのスタイルを設定 */
small {
  font-size: 80%;
}

/* 非表示要素のスタイルを設定 */
[hidden] {
  display: none;
}

/* アブリエーションの下線スタイルを設定 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none;
}

/* アクティブなリンクの背景色を透明に設定 */
a {
  background-color: transparent;
}

/* リンクにマウスオーバー時のアウトラインを削除 */
a:active,
a:hover {
  outline-width: 0;
}

/* コード関連要素のフォントファミリーを設定 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/* プリフォーマットされたテキスト要素のフォントサイズを設定 */
pre {
  font-size: 1em;
}

/* 太字のテキスト要素のフォントウェイトを設定 */
b,
strong {
  font-weight: bolder;
}

/* 上付き文字と下付き文字のスタイルを設定 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */

/* 入力要素の角をリセット */
input {
  border-radius: 0;
}

/* 無効な要素のカーソルをデフォルトに設定 */
[disabled] {
  cursor: default;
}

/* 数値入力要素のカーソルスタイルを修正 */
[type="number"]::-webkit-container-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* 検索入力要素のアウトラインスタイルを修正 */
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* テキストエリアのスタイルを設定 */
textarea {
  overflow: auto;
  resize: vertical;
}

/* フォーム要素のフォントを継承 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

/* オプトグループ要素のフォントウェイトを設定 */
optgroup {
  font-weight: bold;
}

/* ボタン要素のオーバーフロースタイルを修正 */
button {
  overflow: visible;
}

/* ボタン要素とセレクト要素のテキスト変換をリセット */
button,
select {
  text-transform: none;
}

/* クリッカブルな要素にポインターカーソルを設定 */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* フォーカスリングスタイルをリセット */
button::-moz-focusring,
[type="button"]::-moz-focusring,
[type="reset"]::-moz-focusring,
[type="submit"]::-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* ボタン要素の外観を修正 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* ボタン要素などのデフォルトスタイルをリセット */
button,
input,
select,
textarea {
  border-style: none;
  background-color: transparent;
}

/* セレクト要素の外観を修正 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

/* レジェンド要素のスタイルを設定 */
legend {
  display: table;
  max-width: 100%;
  white-space: normal;
  color: inherit;
  border: 0;
}

/* ファイルアップロードボタン要素のスタイルを設定 */
::-webkit-file-upload-button {
  font: inherit;
  color: inherit;
  -webkit-appearance: button
